@tailwind base;
@tailwind components;
@tailwind utilities;

/* .scrollhide {
  scrollbar-width: none;
} */
.scrollhide::-webkit-scrollbar {
  width: 0px;
  scrollbar-width: none;
}
html,
body,
#root {
  height: 100%;
}

/* @layer utilities {
  .scrollhide::-webkit-scrollbar {
    width: 0px;
  }
} */
